<html>

<head>
    <title>Long Code Converter</title>
</head>

<body>
    <h1>Long Code Converter</h1>
    <form action="/" method="post">
        <label for="long_code">Long Code:</label>
        <input type="text" id="long_code" name="long_code">
        <br><br>
        <label for="vin">VIN:</label>
        <input type="text" id="vin" name="vin">
        <br><br>
        <input type="submit" value="Convert">
    </form>
</body>

</html>